<form id="productForm">
    <label for="title">Nombre</label>
    <input type="text" id="title" name="title" required>
    <label for="price">Precio</label>
    <input type="text" id="price" name="price" required>
    <label for="thumbnail">Foto</label> 
    <input type="url" id="thumbnail" name="thumbnail" required><br>
    <input onclick='return saveProduct()' type="submit" class="addButton" value="Agregar!">
</form>