<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/navbar')%>

    <h2>USER REGISTER</h2>
    <hr />
    <br />
    <form action="/signup" method="post">
      <input
        name="name"
        id="name"
        type="text"
        placeholder="Ingrese su nombre"
      />
      <input
        name="email"
        id="email"
        type="text"
        placeholder="Ingrese su correo"
      />
      <input
        name="password"
        id="password"
        type="password"
        placeholder="Ingrese su contraseña"
      />
      <button>Sign up</button>
    </form>
    <br />
    <br />
    <div class="blackBox">
      <span>Ya tienes cuenta? Ingresa aquí: </span>
      <button onclick="location.href='/login'">Login</button>
    </div>
    <br />

    <br />
    <%- include('../partials/footer') %>

    <script src="../../public/index.js"></script>
  </body>
</html>
