<ul class="header">
  <li>
    <a href="/home">Home</a>
    <a href="/home">All products</a>
    <a href="/userData">User info</a>
    <a href="/cart">Cart</a>

    <form action="/logout" method="get">
      <button class="logoutBtn">L O G O U T</button>
    </form>
  </li>
</ul>
