<form>
    <input type="text" id="email" name="gmail" placeholder="gmail" required>
    <input type="text" id="msg" name="text" placeholder="mensaje">
    <input onclick='return sendMsg()' type="submit" class="addButton" value="Enviar!">
</form>