<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/navbar')%>

    <h2>LOG-IN ERROR</h2>

    <div class="blackBox">
      <span>Credenciales incorrectas</span>
      <button onclick="location.href='/login'">Volver a intentar</button>
    </div>

    <br />

    <br />
    <%- include('../partials/footer') %>

    <script src="../../public/index.js"></script>
  </body>
</html>
