<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/navbar')%>

    <h2>USER LOGIN</h2>
    <hr>
    <br>
    <form action="/" method="post">
        <input name="username" id="username" type="text" placeholder="Ingrese su usuario">
        <input name="password" id="password" type="text" placeholder="Ingrese su contraseña">
        <button>Login</button>
        <button>Sign up</button>
    </form>

    <br>
   
   <br/>
   <%- include('../partials/footer') %>

   <script src="../../public/index.js"></script>
</body>
</html>
