<form>
    <input type="text" id="email" name="gmail" placeholder="gmail" required>
    <input type="text" id="name" name="name" placeholder="nombre">
    <input type="text" id="surname" name="surname" placeholder="apellido"><br/>
    <input type="text" id="alias" name="alias" placeholder="alias">
    <input type="number" id="age" name="age" placeholder="edad">
    <input type="url" id="avatar" name="avatar" placeholder="avatar | logo"> <br/>
    <input type="text" id="msg" name="msg" placeholder="mensaje">
    <input onclick='return sendMsg()' type="submit" class="addButton" value="Enviar!">
</form>