<form onsubmit=" return addMessage()">
    <input type="text" id="gmail" name="gmail" placeholder="gmail" required>
    <input type="text" id="text" name="text" placeholder="mensaje">
    <input type="submit" class="addButton" value="Enviar!">
</form>