<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/navbar')%>

    <h2>LOG-IN</h2>
    <hr>
    <br>
    <form action="/" method="post">
        <label for="username">Nombre</label>
        <input name="username" id="username" type="text" placeholder="Ingrese su nombre de usuario">
        <button>Login</button>
    </form>

    <br>
   
   <br/>
   <%- include('../partials/footer') %>

   <script src="../../public/index.js"></script>
</body>
</html>
