html 
    head 
        style 
            include ../public/style.css
        title='Desafio con Pug'
    body
        include includes/navbar.pug 

        block form
        block products

        footer 
            include includes/footer.pug

